/* RESET */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
    background: #eef6ff;
}

/* LAYOUT */
.layout {
    display: flex;
    height: 100vh;
}

/* MAIN */
.main {
    flex: 1;
    padding: 30px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* TOPBAR */
.topbar {
    margin-bottom: 25px;
}

/* SEARCH BOX */
.search-box {
    background: white;
    padding: 12px 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    width: 450px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.search-box i {
    color: #1e88e5;
    margin-right: 10px;
}

.search-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.card {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h4 {
    color: #1e88e5;
    margin-bottom: 8px;
}

.card p {
    font-size: 20px;
    font-weight: bold;
}

/* CHARTS */
/* .charts {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.chart-box {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    height: 220px;
    width: 5%;
    position: relative;
}

.chart-box canvas {
    width: 100% !important;
    height: 100% !important;
} */
.charts {
    display: flex;
    gap: 20px;
}

.chart-box {    
    width: 45%;
    height: 380px;
    background: white;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.05);
}

.chart-box canvas {
    width: 100% !important;
    height: 100% !important;
}
/* TABLE */
.table-section {
    background: white;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    max-height: 260px;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
}

th {
    background: #e3f2fd;
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 1;
}

tr:hover {
    background: #f1faff;
}